/* Custom styles to keep Skeleton separate */
.container {
	max-width: none;
	width: 100%;
}

.padding {
	padding-bottom: 130px;
}

body {
	background-image: url("images/agsquare.png");
	font-size: 1.7em;
}