/* Custom styles to keep Skeleton separate */
.container {
/*	max-width: none;
	width: 100%;*/
}

.padding {
	padding-bottom: 90px;
}

body {
	background-image: url("images/agsquare.png");
	font-size: 1.7em;
}

@media (max-width: 768px) {
	.container {
		max-width: none;
		width: 90%;
	}
	
	.padding {
		padding-bottom: 130px;
	}
}

@media (max-width: 450px) {
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		padding: 0 10px;
	}

	.container {
		padding: 0 20px;
	}
	
	h1, h2, h3 {
		text-align: center;
		/*margin: 0 auto;*/
		width: auto;
	}
}
