@import url("../custom.css");
@import url("../general_styles.css");

#contact {
	margin-top: 70px;
}

#contactIconGridMargin {
	opacity: 0;
}

.contactIconDiv {
	font-size: 72px;
	text-align: center;
}

#linkedInIcon {
	margin-left: 0;
}

@media (max-width: 450px) {
	#contact {
		margin-top: 50px;
	}
}