@import url("../custom.css");
@import url("../general_styles.css");

#contact {
	margin-top: 140px;
}

#contactIconGridMargin {
	opacity: 0;
}

.contactIconDiv {
	font-size: 72px;
	text-align: center;
}