@import url("../custom.css");
@import url("../general_styles.css");

.experienceSection {
	margin-bottom: 20px;
}

.companyLogo {
	margin-top: 5px;
}

#vertigoLogo {
	margin-left: -40px;
}

#bjcLogo {
	height: 60px;
	margin-top: 15px;
	margin-left: 20px;
}

#BILogo {
	height: 60px;
	margin-top:-10px;
}

.boldLi {
	font-weight: bold;
	display: block;
}

.boldLi a {
	text-decoration: none;
}

.techSkillsLi {
	margin-left: 0px;
}

.dial {
  visibility: hidden;
}

.circular-bar {
  text-align: center;
  margin-bottom: 70px;
}
  
.circular-bar-content {
	color: #1EAEDB;
    margin-bottom: 40px;
    /*margin-top: -95px;*/
    text-align: center;
}
.circular-bar-content strong {
  display: block;
  font-weight: 600;
  @include font-size(18,24);
}

.circular-bar-content label {
  display: block;
  font-weight: 300;
  @include font-size(15,20);
}

.skillDescription {
	font-size: 1.4rem;
	max-width: 130px;
	margin: 0 auto;
}

@media (max-width: 450px) {
	#bjcLogo {
		margin: -10px 0 0 0;
	}

	#vertigoLogo {
		margin-top: -10px;
		margin-left: 0;
	}
}