@import url("../custom.css");
@import url("../general_styles.css");

.headerRow {
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 1020;
}


#header {
	background: #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("../images/bright_squares.png");
}

#header * {
	/*text-align: center;*/
}

#NameLogo {
	margin: 0 auto 0 auto;
	display: block;
}

#header a {
	font-size: 1.5em;
}

.navItem {
	margin-top: 15px;
}

@media (max-width: 768px) {
	
	#header a {
		font-size: 12pt;
	}

	.navItem {
		width: auto;
		margin-left: 8%;
	}
}