@import url("../custom.css");
@import url("../general_styles.css");

.headerRow {
	top: 0px;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: 2000;
}


#header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("../images/bright_squares.png");
	/*background-image: url("../images/agsquare.png");*/
	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

/*#header:hover {
	background-image: url("../images/Blank.png");
}*/

#NameLogo {
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

#letterI {
	fill: #1DADD9;
}

#letterB {
	fill: #050505;
}

#hoverLetterI, #hoverLetterB {
	opacity: 0.0;
	display: inline-block;
	-webkit-transition: opacity .7s ease;
	-moz-transition: opacity .7s ease;
	-o-transition: opacity .7s ease;
	transition: opacity .7s ease;
}

#hoverLetterI {
	fill: #050505;
}

#NameLogo:hover #hoverLetterI {
	opacity: 1.0;
}

#hoverLetterB {
	fill: #1DADD9;
}

#NameLogo:hover #hoverLetterB {
	opacity: 1.0;
}

/*#NameLogo:hover #letterI {
	fill: url(#blueToBlack);
}

#NameLogo:hover #letterB {
	fill: url(#blackToBlue);
}*/

#header a {
	font-size: 1.5em;
	text-decoration: none;
}

.navItem {
	margin-top: 15px;
	transition:  0.5s ease;
	-webkit-transition:  0.5s ease;
	-moz-transition:  0.5s ease;
	-o-transition:  0.5s ease;
}

@media (max-width: 768px) {
	
	#header a {
		font-size: 12pt;
	}

	.navItem {
		width: auto;
		margin-left: 8%;
		transition:  0.5s ease;
		-webkit-transition:  0.5s ease;
		-moz-transition:  0.5s ease;
		-o-transition:  0.5s ease;
	}

	#NameLogo {
		margin: 2% auto 0 20px;
		display: block;
		width: 10%;
		height: 5%;
	}
}

@media (max-width: 768px) and (min-width: 617px){
	.navItem {
		width: auto;
		margin-left: 8%;
		margin-top: 15px;
		transition:  0.5s ease;
		-webkit-transition:  0.5s ease;
		-moz-transition:  0.5s ease;
		-o-transition:  0.5s ease;
	}
}

@media (max-width: 617px) {
	#NameLogo {
		height: auto;
	}
}