@import url("../custom.css");
@import url("../general_styles.css");

#writing {
	margin-top: -50px;
}

#writingPicsSection {
	width: 888px;
}

.imageTextContainer {
	position: absolute;
}

.medPic {
	width: 400px;
	height: 225px;
}
	.medPic .imageTextContainer {
		width: 400px;
		bottom: 80px;
	}

.lrgPic {
	width: 470px;
	height: 470px;
}
	.lrgPic .imageTextContainer {
		width: 470px;
		bottom: 80px;
	}

.tallPic {
	width: 400px ;
	height: 470px;
}
	.tallPic .imageTextContainer {
		width: 400px;
		bottom: 80px;
	}

.widePic {
	width: 890px ;
	height: 225px;
}
	.widePic .imageTextContainer {
		width: 890px;
		bottom: 80px;
	}

.leftImage {
	margin-left: 0px;
	float: left;
}

.rightImage {
	margin-right: 0px;
	float: right;
}

.imageTextPadding {
	padding: 0px 8px 0px 8px;
}

.imageTextHeader {
	position: absolute;
	/*bottom: 10px;*/
	background: rgba(0, 0, 0, 0.75);
	padding: 4px 0px 4px 0px;
	color: white;
	margin: 0;
	opacity: 0;
	width: 100%;
	 transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.imageLink:hover .imageTextHeader {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.writingPics {
	position: relative;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#geographerDiv {
	background-image: url("../../images/geographerImage.jpg");
}

#zionIDiv {
	background-image: url("../../images/zioniImage.jpg");
}

#silversunPickupsDiv {
	margin-top: 20px;
	background-image: url("../../images/sspuImage.jpg");
}

#mkDiv {
	background-image: url("../../images/kimImage.jpg");
	margin-top: 20px;
}

#stoneFoxesDiv {
	background-image: url("../../images/stone_foxes.jpg");
	margin-top: 20px;
}

#outsideLandsPic {
	background-image: url("../../images/outsideLandsImage.png");
	margin-top: 20px;
}

@media (max-width: 1100px) {

	/*Single column pics if screen is smaller than 1100*/
	.writingPicRow {
		width: 65%;
		margin: 0 auto;
	}

	#writingPicsSection {
		width: auto;
	}

	.rightImage {
		float: left;
	}

	#geographerDiv {
		margin-bottom: 20px;
	}

	.lrgPic {
		width: 400px;
		height: 400px;
	}

	.lrgPic .imageTextContainer {
		width: 400px;
	}

	#stoneFoxesDiv .imageTextContainer {
		width: 400px;
		bottom: 115px;
	}

	.widePic {
		width: 400px ;
		height: 225px;
	}
	.widePic .imageTextContainer {
		width: 400px;
		bottom: 115px;
	}
}

#seeAllLink {
	text-decoration: none;
}

#seeAllWriting {
	margin: 20px auto 0 auto;
	display: block;
	height:80px;
	font-size: 1.4rem;
}

@media (max-width: 1024px) {
	
	#seeAllWriting {
		margin: 0 auto;
	}
		
	.writingPicRow {
		width: auto;
		margin: 0 auto;
	}
	
	.imageLink {
		float: none;
	}
	
	.writingPics {
		margin: 0 auto 20px auto; 
	}
}

@media (max-width: 768px) {

	.container {
		max-width: none;
		width: 90%;
	}

	.padding {
		padding-bottom: 300px;
	}

	#writingPicsSection {
		width: auto;
		max-width: 400px;
		margin: 0 auto;
	}

	.writingPicRow {
		width: 65%;
		margin: 0;
	}
	.leftImage {
		margin-left: 0px;
	}

	.rightImage {
		margin-right: 0px;
	}

	.imageTextHeader {
		position: absolute;
		/*bottom: 10px;*/
		background: rgba(0, 0, 0, 0.75);
		padding: 4px 0px 4px 0px;
		color: white;
		margin: 0;
		opacity: 1;
		width: 100%;
	}

	.medPic .imageTextContainer {
		width: 400px;
		bottom: 62px;
	}
	.lrgPic .imageTextContainer {
		width: 400px;
		bottom: 62px;
	}
	#stoneFoxesDiv .imageTextContainer {
		width: 400px;
		bottom: 62px;
	}
	.tallPic .imageTextContainer {
		width: 400px;
		bottom: 62px;
	}
	.widePic .imageTextContainer {
		width: 400px;
		bottom: 62px;
	}
}

@media (max-width: 450px) {

	.container {
		max-width: none;
		width: 90%;
	}

	.padding {
		padding-bottom: 300px;
	}

	#writingPicsSection {
		width: auto;
	}

	.writingPicRow {
		width: auto;
		margin: 0 auto;
	}
	
	.imageLink {
		float: none;
	}
	
	.writingPics {
		margin: 0 auto 20px auto; 
	}
	
	.leftImage {
		margin-left: 0px;
	}

	.rightImage {
		margin-right: 0px;
	}

	.medPic {
		width: 280px;
	}

	.lrgPic {
		width: 280px;
		height: 280px;
	}

	.tallPic {
		width: 280px ;
	}

	.widePic {
		width: 280px ;
	}

	.imageTextHeader {
		position: absolute;
		/*bottom: 10px;*/
		background: rgba(0, 0, 0, 0.75);
		padding: 4px 0px 4px 0px;
		color: white;
		margin: 0;
		opacity: 1;
		width: 100%;
	}

	.medPic .imageTextContainer {
		width: 280px;
		bottom: 88px;
	}
	/*shorter description, needs different bottom*/
	#silversunPickupsDiv.medPic .imageTextContainer {
		width: 280px;
		bottom: 62px;
	}
	.lrgPic .imageTextContainer {
		width: 280px;
		bottom: 88px;
	}
	#stoneFoxesDiv .imageTextContainer {
		width: 280px;
		bottom: 90px;
	}
	.tallPic .imageTextContainer {
		width: 280px;
		bottom: 88px;
	}
	.widePic .imageTextContainer {
		width: 280px;
		bottom: 90px;
	}
}

@media (min-width: 1900px) {

	#writingPicsSection {
		max-width: 890px;
		width: auto;
	}

	/*margins for images on large screens*/
	.leftImage {
		/*margin-left: 178px;*/
		float: left;
	}

	.rightImage {
		/*margin-right: 178px;*/
		float: right;
	}
}